<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>AMC &mdash; Aakriti Mehndi Creations</title>
    <meta name="robots" content="noindex, nofollow">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="https://img.icons8.com/ios-filled/50/000000/circled-a.png" rel="icon">
    <link href="https://img.icons8.com/ios-filled/50/000000/circled-a.png" rel="apple-touch-icon">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="/public/vendor/aos/aos.css" rel="stylesheet">
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Event snippet for Website traffic conversion page -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
    </script>
    <script>
        gtag('event', 'conversion', { 'send_to': 'AW-456665610/ztX-CKfEju4BEIrU4NkB' });
    </script>

</head>

<body>
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <div id="content-desktop">
                    <i class="bi bi-envelope-fill" class="d-none d-md-block"></i>
                    <a
                        href="mailto: aakritimehndicreations@gmail.com?subject=inquiry%20for%20website">aakritimehndicreations@gmail.com</a>
                    <i class="bi bi-phone-fill phone-icon" class="d-none d-md-block"></i>
                    <a
                        href=href="https://wa.me/918866466215/?text=`Hey, I liked your designs on website...and want more information...!!!`"
>+91
                        886 6466 215</a>
                </div>
                <div id="content-mobile">
                    <i class="bi bi-envelope-fill" class="d-none d-md-block"></i>
                    <a href="mailto: aakritimehndicreations@gmail.com?subject=inquiry%20for%20website">Email Us</a>
                    <i class="bi bi-phone-fill phone-icon" class="d-none d-md-block"></i>
                    <a
                        href=href="https://wa.me/918866466215/?text=`Hey, I liked your designs on website...and want more information...!!!`"
>Whatsapp
                        Us</a>
                </div>
                <!-- <i class="bi bi-envelope-fill" class="d-none d-md-block"></i>
                <a
                    href="mailto: aakritimehndicreations@gmail.com?subject=inquiry%20for%20website">aakritimehndicreations@gmail.com</a>
                <i class="bi bi-phone-fill phone-icon" class="d-none d-md-block"></i>
                <a
                    href=href="https://wa.me/918866466215/?text=`Hey, I liked your designs on website...and want more information...!!!`"
>+91
                    886 6466 215</a> -->
            </div>
            <div class="social-links d-none d-md-block">
                <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> -->
                <a target='_top' href="https://wwww.facebook.com/Aakriti.Mehndi.Creations/" class="facebook"><i
                        class="bi bi-facebook"></i></a>
                <a target='_top' href="https://www.instagram.com/aakriti__mehndi__creations/?hl=en&__coig_restricted=1"
                    class="instagram"><i class="bi bi-instagram"></i></a>
                <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a> -->
            </div>
        </div>
    </section>
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="index.html">Aakriti Mehndi Creations</a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
                    <li><a class="nav-link scrollto " href="#portfolio">Gallery</a></li>
                    <!-- <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li> -->
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li> -->
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul> <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
            <h1>Welcome to Aakriti Mehndi</h1>
            <h2>We are team of talented designers, make your event memorable</h2> <a href="#about"
                class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>
    <main id="main">
        <section id="about" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left"> <img src="/public/img/team.jpg"
                            class="img-fluid" alt=""></div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                        <h3>Aakriti Mehndi Creations</h3>
                        <p class="fst-italic">
                            We provided our services throughout India since 2010. We
                            focusing on providing excellent quality smehndi services to
                            our clients for various events and celebrations like. </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> Bridal Mehndi </li>
                            <li><i class="bi bi-check-circle"></i> Engagement Mehndi</li>
                            <li><i class="bi bi-check-circle"></i> Baby Shower Mehndi</li>
                            <li><i class="bi bi-check-circle"></i> Mehndi Rasams or Mehndi Parties</li>
                            <li><i class="bi bi-check-circle"></i> Teej Mehndi</li>
                            <li><i class="bi bi-check-circle"></i> KarwaChauth Mehndi</li>
                        </ul>
                        <p>
                            Basically we are based in Surat-Gujarat, but we have
                            extended ourselves to all over the India. We have team of
                            more than 30 artists with excellent creative skills to make
                            your Mehndi and special day....A memorable event of your
                            life...!!!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section id="why-us" class="why-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" data-aos="fade-up">
                        <div class="box"> <span>01</span>
                            <h4>Lorem Ipsum</h4>
                            <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero
                                placeat</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                        <div class="box"> <span>02</span>
                            <h4>Repellat Nihil</h4>
                            <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire
                                leno para dest</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="box"> <span>03</span>
                            <h4> Ad ad velit qui</h4>
                            <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam
                                quis</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-in">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-2 col-md-4 col-6"> <img src="/public/img/clients/client-1.png" class="img-fluid"
                            alt=""></div>
                    <div class="col-lg-2 col-md-4 col-6"> <img src="/public/img/clients/client-2.png" class="img-fluid"
                            alt=""></div>
                    <div class="col-lg-2 col-md-4 col-6"> <img src="/public/img/clients/client-3.png" class="img-fluid"
                            alt=""></div>
                    <div class="col-lg-2 col-md-4 col-6"> <img src="/public/img/clients/client-4.png" class="img-fluid"
                            alt=""></div>
                    <div class="col-lg-2 col-md-4 col-6"> <img src="/public/img/clients/client-5.png" class="img-fluid"
                            alt=""></div>
                    <div class="col-lg-2 col-md-4 col-6"> <img src="/public/img/clients/client-6.png" class="img-fluid"
                            alt=""></div>
                </div>
            </div>
        </section>
        <section id="services" class="services">
            <div class="container">
                <div class="section-title"> <span>Services</span>
                    <h2>Services</h2>
                    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a href="">Lorem Ipsum</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up"
                        data-aos-delay="150">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="">Sed ut perspiciatis</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4><a href="">Magni Dolores</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up"
                        data-aos-delay="450">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4><a href="">Nemo Enim</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up"
                        data-aos-delay="600">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-slideshow"></i></div>
                            <h4><a href="">Dele cardo</a></h4>
                            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up"
                        data-aos-delay="750">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-arch"></i></div>
                            <h4><a href="">Divera don</a></h4>
                            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">
                <div class="text-center">
                    <h3>Call To Action</h3>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.</p> <a class="cta-btn" href="#">Call To Action</a>
                </div>
            </div>
        </section> -->
        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="section-title"> <span>Gallery</span>
                    <h2>Gallery</h2>
                    <p>Types Of Mehndi</p>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <%- gallaryFilter %>
                                <!-- <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-bridalMehndi">Bridal Mehndi</li>
                            <li data-filter=".filter-engagementMehndi">Engagement Mehndi</li>
                            <li data-filter=".filter-bestForAll">Best For All</li>
                            <li data-filter=".filter-partyMehndi">Party Mehndi</li>
                            <li data-filter=".filter-heavyIndian">Heavy Indian</li>
                            <li data-filter=".filter-babyShowerMehndi">Baby Shower Mehndi</li>
                            <li data-filter=".filter-affordable">Affordable</li>
                            <li data-filter=".filter-aakritiMehndiClasses">Aakriti Mehndi Classes</li>
                            <li data-filter=".filter-classStudentWork">Class Student Work</li> -->
                        </ul>
                    </div>
                </div>
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
                    <%- photos %>

                        <!-- 
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card"> <img
                            src="/public/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p> <a href="/public/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a> <a
                                href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- <section id="pricing" class="pricing">
            <div class="container">
                <div class="section-title"> <span>Pricing</span>
                    <h2>Pricing</h2>
                    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                        <div class="box">
                            <h3>Free</h3>
                            <h4><sup>$</sup>0<span> / month</span></h4>
                            <ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li class="na">Pharetra massa</li>
                                <li class="na">Massa ultricies mi</li>
                            </ul>
                            <div class="btn-wrap"> <a href="#" class="btn-buy">Buy Now</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
                        <div class="box featured">
                            <h3>Business</h3>
                            <h4><sup>$</sup>19<span> / month</span></h4>
                            <ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li>Pharetra massa</li>
                                <li class="na">Massa ultricies mi</li>
                            </ul>
                            <div class="btn-wrap"> <a href="#" class="btn-buy">Buy Now</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                        <div class="box">
                            <h3>Developer</h3>
                            <h4><sup>$</sup>29<span> / month</span></h4>
                            <ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li>Pharetra massa</li>
                                <li>Massa ultricies mi</li>
                            </ul>
                            <div class="btn-wrap"> <a href="#" class="btn-buy">Buy Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section id="team" class="team">
            <div class="container">
                <div class="section-title"> <span>Team</span>
                    <h2>Team</h2>
                    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                        <!-- <div class="member"> <img src="/public/img/team/team-1.jpg" alt="">
                            <h4>Walter White</h4> <span>Chief Executive Officer</span>
                            <p> Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis
                                quaerat qui aut aut aut</p>
                            <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
                                        class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                        <div class="member"> <img src="/public/img/PicsArt_02-20-02.59.51.jpg" alt="">
                            <h4>Daisy Kabrawala</h4> <span>Owner</span>
                            <p>
                                Leading Mehndi Artist and founder of Aakriti Mehndi
                                Creations... !!! Professionally practicing since past 10
                                years...!!! Also successfully conducting classes for Mehndi
                                since last 5 years...!!!
                            </p>
                            <div class="social">
                                <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
                                <a href="https://wwww.facebook.com/Aakriti.Mehndi.Creations/"><i
                                        class="bi bi-facebook"></i></a>
                                <a
                                    href="https://www.instagram.com/aakriti__mehndi__creations/?hl=en&__coig_restricted=1"><i
                                        class="bi bi-instagram"></i></a>
                                <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                        <!-- <div class="member"> <img src="/public/img/team/team-3.jpg" alt="">
                            <h4>William Anderson</h4> <span>CTO</span>
                            <p> Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum
                                toro des clara</p>
                            <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
                                        class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="container">
                <div class="section-title"> <span>Contact</span>
                    <h2>Contact</h2>
                    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-6">
                        <div class="info-box mb-4"> <i class="bx bx-map"></i>
                            <h3>Our Address</h3>
                            <p> Adajan, Surat, Gujarat 395009,India </p>
                            <p> Kolhapur, Maharashtra 416003,India </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="info-box mb-4"> <i class="bx bx-envelope"></i>
                            <h3>Email Us</h3>
                            <p><a style="color: black;"
                                    href="mailto: aakritimehndicreations@gmail.com?subject=inquiry%20for%20website">aakritimehndicreations@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="info-box mb-4"> <i class="bx bx-phone-call"></i>
                            <h3>Call Us</h3>
                            <p><a style="color: black;"
                                    href=href="https://wa.me/918866466215/?text=`Hey, I liked your designs on website...and want more information...!!!`"
>+91
                                    886 6466 215</a></p>
                        </div>
                    </div>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-6 ">
                        <!-- <iframe scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
                            src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=aakriti%20mehndi%20creations%20Surat+(aakriti%20mehndi%20creations)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                            width="520" height="400" frameborder="0"></iframe> -->
                        <iframe scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15284.900583876997!2d74.2315837!3d16.7156143!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x77b357ad00aa3f8!2sAakriti%20Mehndi%20creations!5e0!3m2!1sen!2suk!4v1674054510229!5m2!1sen!2suk"
                            width="520" height="400" frameborder="0"></iframe>
                    </div>
                    <div class="col-lg-6 ">
                        <iframe scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
                            src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=aakriti%20mehndi%20creations%20Surat+(aakriti%20mehndi%20creations)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                            width="520" height="400" frameborder="0"></iframe>
                        <!-- <iframe scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15284.900583876997!2d74.2315837!3d16.7156143!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x77b357ad00aa3f8!2sAakriti%20Mehndi%20creations!5e0!3m2!1sen!2suk!4v1674054510229!5m2!1sen!2suk"
                            width="520" height="400" frameborder="0"></iframe> -->
                    </div>
                    <!-- <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group"> <input type="text" name="name" class="form-control"
                                        id="name" placeholder="Your Name" required></div>
                                <div class="col-md-6 form-group mt-3 mt-md-0"> <input type="email" class="form-control"
                                        name="email" id="email" placeholder="Your Email" required></div>
                            </div>
                            <div class="form-group mt-3"> <input type="text" class="form-control" name="subject"
                                    id="subject" placeholder="Subject" required></div>
                            <div class="form-group mt-3"><textarea class="form-control" name="message" rows="5"
                                    placeholder="Message" required></textarea></div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div> -->
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul> -->
                        <div class="footer-info">
                            <h3>Aakriti Mehndi Creations</h3>
                            <p> Adajan, Gujarat <br> Kolhapur, Maharashtra<br><br> <strong>Phone:</strong> <a
                                    href="https://wa.me/918866466215/?text=Hey, I liked your designs on website...and want more information...!!!">+91
                                    886 6466 215</a><br> <strong>Email:</strong> <a
                                    href="mailto: aakritimehndicreations@gmail.com?subject=inquiry%20for%20website">aakritimehndicreations@gmail.com</a><br>
                            </p>
                            <div class="social-links mt-3">
                                <a target='_top' href="https://wwww.facebook.com/Aakriti.Mehndi.Creations/" class="facebook"><i
                                        class="bx bxl-facebook"></i></a>
                                <a target='_top' href="https://www.instagram.com/aakriti__mehndi__creations/?hl=en&__coig_restricted=1"
                                    class="instagram"><i class="bx bxl-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <!-- <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul> -->
                    </div>
                    <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post"> <input type="email" name="email"><input type="submit"
                                value="Subscribe"></form>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright"> &copy; Copyright <strong><a href="/login">AMC</a></strong>. All Rights Reserved
            </div>
            <div class="credits"> Designed by <a href="https://www.aakritimehndicreations.in/">Aakriti Mehndi
                    Creations</a></div>
        </div>
    </footer>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>
    <div id="abc" style="visibility: hidden;"></div>
    <script src="/public/vendor/aos/aos.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/public/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/public/vendor/php-email-form/validate.js"></script>
    <script src="/public/js/main.js"></script>
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-P7JSYB1CSP'></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.2/dist/iconify-icon.min.js"></script>
</body>

</html>